## PythonClass 02 - Variables and Data Types

In the first class, we learned the basics of Python programming and performed a few arithmetical operations using Python. 
In this class, we will learn how to save values, and how to work with numerical and text data.

So, For example we need to perform any airthematic operation and we want to save it to the variable. Then.

In [1]:
(62+18)*18

1440

In [3]:
#Save this result to a variable and print it

result = (62+18)*18
print(result)

1440

In [4]:
type(result)

int

### Simple exercise 01

- Store the value 25 in a variable named value1.

- Store the result of (16-8) * 7 to a variable named result1.

- Using the print() command, display the following:

- The value stored in the value1 variable.

- The result of adding 12 to the variable result1.

- The result of adding value1 to result1.

In [5]:
value1 = 25
result1 = (16-8)*7

In [6]:
print(value1)
print(result1 +12)
print(value1 + result1 )

25
68
81

Naming a variable can output a syntax error, lest see the rules for naming conventions

Now go to reference to show the snippet of naming convention

The value stored in a variable can be updated

Update the variable by adding 400 to its current value.

In [7]:
var = 60

In [8]:
var = var + 400
print(var)

460

In [9]:
# OR we can write var += 400 instead of var = var + 400:

var = 60
var += 400
print(var)

460

In [10]:
# OR

var = 60
var =+ 400
print(var)  #WHY ???

400

In [ ]:
# Now go to reference to show the snippet of Syntax Shortcuts

In [ ]:
## Simple Exercise 02

-Assign a value of 60 to a variable named var1.

-Assign a value of 80 to a variable named var2.

-Update the value of var1 by adding 54 to its current value. You can take advantage of the += operator.

-Update the value of var2 by multiplying its current value by 8. You can take advantage of the *= operator.

-Display var1 and var2 using print()

In [11]:
var1 = 60
var2 = 80

var1 += 50
var2 *= 8

print(var1)
print(var2)

110
640

In [ ]:
# We can also make computations with decimal numbers:

In mathematics, integers are not the same as decimal numbers, and Python acknowledges this difference. We can use the type() command to see the type of a value, and confirm that Python distinguishes between integers and decimal numbers:

In [12]:
variable_1 = 10
variable_2 = 2.5

variable_1 += 6.5
variable_2 *= 2 

print(variable_1)
print(variable_2)

16.5
5.0

In [13]:
print(type(variable_1))
print(type(variable_2))

<class 'float'>
<class 'float'>

## TypeCasting

It's possible to convert a float to an integer and vice versa. To convert an integer to a float, 
we can use the float() command. To convert a float to an integer, we can use the int() command:

In [14]:
variable_a = 13.9
variable_b = 2.8

variable_a = round(variable_a)
variable_b = int(variable_b)

print(variable_a)
print(variable_b)

14
2

In [15]:
print(type(variable_a))
print(type(variable_b))

<class 'int'>
<class 'int'>

So far, we've only dealt with int and float values. But in data science, numbers are not the only type of data 
we work with. For instance, consider the table below, which provides some information about five mobile applications 
from the iOS store:

In [ ]:
# Now go to reference to show the snippet of Table

In [16]:
app_name = "Pandora - Music & Radio"
average_rating = "4.0"
total_ratings = "1724546"
price = "free"

print(app_name)

Pandora - Music & Radio

In [17]:
print(type(app_name))

<class 'str'>

Sometimes we'll need to create strings with quotation marks inside.

In [18]:
motto = "Kaggle\'s motto is: \"Your home for datascience\""
print(motto)

Kaggle's motto is: "Your home for datascience"

When we have two or more distinct strings, it's possible to link them together using the + operator:

In [19]:
Kaggle = "Kaggle\'s rating is"
kg_rating = 3.5

kg_rating_str = str(kg_rating)
kg = Kaggle +" " + kg_rating_str
print (kg)

Kaggle's rating is 3.5

In [20]:
#OR through format string

Kaggle = "Kaggle\'s"
kg_rating = 3.5

kg_rating_str = str(kg_rating)

kg = "{} rating is {}".format(Kaggle,kg_rating) 

print (kg)

Kaggle's rating is 3.5

In [21]:
#OR through format string other technique

Kaggle = "Kaggle\'s"
kg_rating = 3.5

kg_rating_str = str(kg_rating)

kg = "{first} rating is {last}".format(first =Kaggle,last =kg_rating_str) 

print (kg)

Kaggle's rating is 3.5